@using BSWebtoon.Front.Models.ViewModel.WorkPage
@model WorkPageViewModel

@{
    ViewData["Title"] = "WorksPage";
}
@section topCss{
<style>
    .main_picture {
        display: flex;
        flex-direction: column;
        color: var(--content-small-color);
        opacity: 1;
        background-image: url("@Model.BgCover");
        background-repeat: no-repeat;
        background-size: 100%;
        /* position: relative; */
    }

        .main_picture .comics_name_bg {
            background: linear-gradient(transparent 2%,@Model.BgColor);
            padding-bottom: 50px;
        }

    .main_comics_episode .comics_episode {
        background-color: @Model.BgColor;
    }

        .main_comics_episode .comics_episode .row .card {
            border: 0px solid;
            background-color: @Model.BgColor;
        }

</style>
<link rel="stylesheet" href="~/style/WorkspageStyle.css" />
}
@*<partial name="LoginPartial"></partial>
*@
<header class="hearder_nav w-100">
    <a class="previous_page_a" href="javascript:history.go(-1)"><i class="fa-solid fa-arrow-left-long previous_page"></i></a>
    <div class="function_box">
        <label class="collect_a" for="heart" href="#"><i class="red fa-solid fa-heart"></i></label>
        <input type="checkbox" class="d-none" id="heart">
        <a class="share_a" href="#" data-bs-toggle="modal" data-bs-target="#shareModal">
            <i class="fa-solid fa-comment-dots message"></i>
        </a>
    </div>
</header>
<banner class="main_picture mx-auto">
    <div class="main_picture_bg">
        <div class="main_picture_box">
            <div class="free_watch">
                <div class="read_ticket pe-2"><a class="text-white" href="~/WorksPage/BuyCoupon">閱讀券1張</a></div>
                <div class="seven_free">每7日免費看</div>
            </div>
            @switch (@Model.BannerVideoWeb != string.Empty && @Model.BannerVideoWeb != null)
            {
                case true:
                    <video title="" autoplay="autoplay" muted="ture" class="local_video object-contain w-full h-full pointer-events-auto">
                        <source src="@Model.BannerVideoWeb" type="video/webm">
                    </video>
                    break;
                case false:
                    <img class="w-100" src="@Model.ComicFigure" alt="">
                    break;
            }
        </div>
    </div>
    <div class="big_video">
        <video title="" preload="auto" muted="ture" class="local_video_bg object-contain pointer-events-auto   d-none">
            <source src="@Model.ComicVideoWeb" type="video/webm">

        </video>
    </div>

    <div class="comics_name_bg">
        <div class="comics_box mx-auto">
            <a class="comics_name_click" href="#">
                <div class="comics_name">
                    <h1>@Model.ComicChineseName</h1>
                    <p><span>繪者</span> @Model.Painter</p>
                    <p><span>作者</span> @Model.Author</p>
                    <p><span>發行</span> @Model.Publisher</p>
                    <div class="comics_category">
                        <p class="category"><span><i class="fa-solid fa-bars-staggered"></i></span>@Model.MainTagName</p>
                        <p class="whatch"><span><i class="fa-regular fa-eye"></i></span> @Model.ViewCount </p>
                        <p class="good"><span><i class="fa-regular fa-thumbs-up"></i></span> @Model.ComicLikeCount </p>
                    </div>
                </div>
            </a>
            <div class="play_tidy_box">
                <div class="play btn btn-light"><i class="fa-regular fa-circle-play"></i></div>
                <div class="tidy btn btn-light">
                    <i class="fa-solid fa-arrow-down-1-9"></i>
                </div>
                <div class="tidy_r btn btn-light">
                    <i class="fa-solid fa-arrow-down-9-1"></i>
                </div>
            </div>
        </div>
    </div>

</banner>
<section class="main_comics_episode w-100 ">
    <div class="comics_episode ">
        <div class="row mx-auto">
            <nav class="illustrate_box">
                <ul>
                    <li><a class="ep" href="#">話次</a></li>
                    <li><a class="illustrate" href="#">作品資訊</a></li>
                    <li><a class="messages" href="#">留言</a></li>
                </ul>
            </nav>
            <div class="keep_reading_box">
                <a href="#">
                    <p class="keep_reading">@Model.ViewRecordEpTitle</p>
                </a>
            </div>
            <div class="ep_row col-12 col-lg-8 col-xl-8">
                @if (@User.Identity.Name == null)
                {
                    @foreach (var ep in Model.EpList)
                    {
                        <div class="col col-6 col-md-4 col-lg-3 col-xl-2">
                            <a id="login" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="card w-100" style="width: 18rem;">
                                    <img src="@ep.EpCover" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@ep.EpTitle</h5>
                                        <p class="card-text">@ep.UploadTime</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }


                }
                else
                {
                    @foreach (var ep in Model.EpList)
                    {
                        <div class="col col-6 col-md-4 col-lg-3 col-xl-2">
                            <a class="" href="~/WorksPage/ComicContent/@ep.EpId">
                                <div class="card w-100" style="width: 18rem;">
                                    <img src="@ep.EpCover" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@ep.EpTitle</h5>
                                        <p class="card-text">@ep.UploadTime</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }


                }

            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="comics_illustrate">
                    <p>@Model.Introduction</p>
                </div>
            </div>
        </div>
        <div class="message_box d-flex justify-content-center flex-column">
            <div class="message_name mx-auto">留言</div>
            @foreach (var comment in Model.CommentList)
            {
                <div class="comment_text  mx-auto">
                    <div class="row p-4">
                        <div class="user  d-flex ">
                            <span class="leval border-danger  text-white">BEST</span>
                            <p class="username  mb-0 ms-3 text-white">@comment.CommentMemberName</p>
                        </div>
                        <div class="text">
                            <p class="text-white ">
                                @comment.Context
                            </p>
                            <button class="btn btn_icon">
                                <i class="fa-solid fa-thumbs-up "></i>
                                讚
                                <span class="count">@comment.CommentLikeCount</span>
                            </button>
                            <button class="btn btn_icon">
                                <i class="fa-solid fa-reply-all"></i>
                                回覆
                                <span class="count">66</span>
                            </button>
                            <button class="btn btn_icon">
                                <i class="fa-solid fa-thumbs-down"></i>
                                檢舉
                                <span class="count">10</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<template id="mobile_title">
    <div class="mobile_title_box p-3">
        <h2 class="mo_ti fw-bolder">骨灰級菜鳥玩家</h2>
        <div class="ill_box">
            <div>
                <span>繪者</span>
                <p class="mo_word">@Model.Painter</p>
            </div>
            <div>
                <span>作者</span>
                <p class="mo_pic">@Model.Author</p>
            </div>
           <div>
                <span>發行</span>
                <p class="mo_publisher">@Model.Publisher</p>
            </div>
        </div>
        <div class="story_box mt-5">
            <h3>故事大綱</h3>
            <p>@Model.Introduction</p>
        </div>
        <div class="keywords_box mt-5">
            <h4 class="mb-3">關鍵字</h4>
            <div>
                @foreach (var tag in Model.TagNames)
                {
                    <p>#@tag</p>
                }

            </div>
        </div>
    </div>
</template>




    
        



<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">分享</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="copy btn btn-dark" data-bs-dismiss="modal">複製網址</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>



@section endJS{
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="~/js/Workspage.js"></script>


<script>
    let collect_a = document.querySelector('.red');

    ////點擊愛心，顏色變紅色
    let check = document.querySelector('#heart');
    check.checked = true
    collect_a.addEventListener('click', () => {
        if (check.checked) {
            console.log('111')
            collect_a.classList.add('text-danger');
        }
        else {
            console.log('222')
            collect_a.classList.remove('text-danger');
        }
    })

    //var login=document.getElementById("login");
    //login.dataset.toggle="modal"
    //login.dataset.target="#exampleModal"
</script>
}

