@{
    Layout = "_WorkPageLayout";
    ViewData["Title"]  = "workContent";
}

@section topCss{
<link rel="stylesheet" href="~/style/workContentstyle.css" />
}
<div class="container-fluid bg-dark d-flex comic_area">
    <button class="btn text-decoration-none my-2" href="javascript:history.go(-1)">
        <i class="fa-solid fa-arrow-left-long text-white"></i>
    </button>
    <div class="comic_text flex-grow-1 my-2 m-auto">
        <p class="text-white m-0 ">@Model.EpTitle</p>
    </div>
</div>
<div class="comic">
    <div class="col-12  d-flex flex-column align-items-center comic_content">
        <!-- <img id="comicpic_pic" src="https://picsum.photos/500/700/?random=11" class="  text-center">
        <img id="comicpic_pic" src="https://picsum.photos/500/700/?random=11" class="  text-center">
        <img id="comicpic_pic" src="https://picsum.photos/500/700/?random=11" class="  text-center">
        <img id="comicpic_pic" src="https://picsum.photos/500/700/?random=11" class="  text-center"> -->
        @foreach (var content in Model.ContentList)
        {
            <img id="comicpic_pic" src="@content.ImagePath" class="  text-center">

        }
    </div>
</div>

<!-- 評論區 -->
<div class="container  bg-dark comment_text">
    <!-- <div class="comment_text  m-auto">
    </div> -->
</div>

<!-- 各種按鈕 -->
<div class="footer d-flex flex-column justify-content-center align-items-center my-2">

    <div class="rounded-pill bg-dark text-center text-white  fs-2 more_function">
        <button class="btn btn_last text-white">
            <i class="fa-solid fa-arrow-left py-3 mx-2 "></i>
            <!-- 上一話 -->
        </button>
        <button class="btn btn_play text-white">
            <i class="fa-solid fa-person-running mx-2 py-3"></i>
            <!-- 自動播放 -->
        </button>
        <!-- 目錄 -->
        <button class="btn btn-dark menu-btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" id="muluBTN">
            <i class="fa-solid fa-list mx-2 py-3"></i>
        </button>
        <button class="btn btn-dark menu-btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" id="mulu-mdBTN">
            <i class="fa-solid fa-list mx-2 py-3"></i>
        </button>


        <button class="btn btn_comment text-white">
            <i class="fa-solid fa-comment-dots py-3 mx-2"></i>
            <!-- 留言 -->
        </button>

        <button class="btn btn_next text-white">
            <i class="fa-solid fa-arrow-right-long py-3 mx-2"></i>
            <!-- 下一話 -->
        </button>
    </div>
</div>

<!-- 目錄區 -->
<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">話次目錄</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small ">
        <div class="row flex-nowrap mulu-row">
            @*<template id="mulutemplate">*@
            @foreach (var ep in Model.EpList)
            {
                <div class="col">
                    <div class="card">
                        <img src="@ep.EpCover" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="card-title">@ep.EpTitle</span>
                            <p class="card-text">@ep.UploadTime</p>
                        </div>
                    </div>
                </div>
            }
            @*</template>*@
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start offcanvas-width" data-bs-scroll="true" tabindex="-1"
     id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">話次目錄</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row row-cols-1 flex-wrap mulu-md-row">
            @foreach (var ep in Model.EpList)
            {
                <div class="col">
                    <div class="card">
                        <img src="@ep.EpCover" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="card-title">@ep.EpTitle</span>
                            <p class="card-text">@ep.UploadTime</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- 評論區模板 -->
<template id="comment">
    <!-- 回到首頁的案紐 -->
    <button class="btn text-decoration-none my-2" href="#">
        <i class="fa-solid fa-arrow-left-long text-white"></i>
    </button>
    <div class="comment_text  m-auto">
        <div class="row  mt-2 ">
            <div class="user  d-flex ">
                <span class="leval border-danger  text-white">BEST</span>
                <p class="username  text-white">凍豆腐</p>
            </div>
            <div class="text">
                <p class="text-white ">
                    古代事業士兵烏日是因為，圍繞商品迅速很快突破似乎對你模式進一步人們手裡，暴力網頁班美元財政是怎麼想法指導屬性隨着算是民主自信另外，病人衛生工廠，總是行業聯繫最。
                </p>
                <button class="btn btn_icon">
                    <i class="fa-solid fa-thumbs-up "></i>
                    讚
                    <span class="count">1.9k</span>
                </button>
                <button class="btn btn_icon">
                    <i class="fa-solid fa-reply-all"></i>
                    回覆
                    <span class="count">66</span>
                </button>
                <button class="btn btn_icon">
                    <i class="fa-solid fa-thumbs-down"></i>
                    檢舉
                    <span class="count">10</span>
                </button>
            </div>
        </div>
        <hr class="text-white">
        <div class="row  mt-2 ">
            <div class="user  d-flex ">
                <span class="leval border-danger  text-white">BEST</span>
                <p class="username  text-white">凍豆腐</p>
            </div>
            <div class="text">
                <p class="text-white ">
                    古代事業士兵烏日是因為，圍繞商品迅速很快突破似乎對你模式進一步人們手裡，暴力網頁班美元財政是怎麼想法指導屬性隨着算是民主自信另外，病人衛生工廠，總是行業聯繫最。
                </p>
                <button class="btn btn_icon">
                    <i class="fa-solid fa-thumbs-up "></i>
                    讚
                    <span class="count">1.9k</span>
                </button>
                <button class="btn btn_icon">
                    <i class="fa-solid fa-reply-all"></i>
                    回覆
                    <span class="count">66</span>
                </button>
                <button class="btn btn_icon">
                    <i class="fa-solid fa-thumbs-down"></i>
                    檢舉
                    <span class="count">10</span>
                </button>
            </div>
        </div>
        <hr class="text-white">
    </div>
</template>


@section endJS{
<script src="~/js/WorkContent.js"></script>
}