@using BSWebtoon.Front.Models.ViewModel.WorkPage
@model WorkPageViewModel

@{
    Layout = "_WorkPageLayout";
    ViewData["Title"] = "WorksPage";

    var memberId = User.Claims.FirstOrDefault() == null ? 0 : int.Parse(User.Claims.FirstOrDefault(x => x.Type == "MemberID").Value);
}
@section topCss{

<link rel="stylesheet" href="~/style/WorkspageStyle.css" />
}
@{
    <style>
        :root {
            --bgCover: url(@Model.BgCover);
            --bgColor: @Html.Raw(Model.BgColor);
        }
    </style>
}

<header class="hearder_nav w-100">
    <a class="previous_page_a" href="javascript:history.go(-1)"><i class="fa-solid fa-arrow-left-long previous_page"></i></a>
    <div class="function_box">
        <label onclick="postFavorite(@memberId,@Model.ComicId)" class="collect_a" for="heart" href="#"><i class="red fa-solid fa-heart"></i></label>
        <input type="checkbox" class="d-none" id="heart">
        <a class="share_a" href="#" data-bs-toggle="modal" data-bs-target="#shareModal">
            <i class="fa-solid fa-comment-dots message"></i>
        </a>
    </div>
</header>
<banner class="main_picture mx-auto">
    <div class="main_picture_bg">
        <div class="main_picture_box">
            <div class="free_watch">
                <div class="read_ticket pe-2"><a class="text-white" onclick="isMember(@Model.ComicId)" href="javascript:(0)">閱讀券 @Model.ReadTicket 張</a></div>
                <div class="seven_free">每7日免費看</div>
            </div>
            @if (@Model.BannerVideoWeb != string.Empty && @Model.BannerVideoWeb != null)
            {
                <video title="" autoplay="autoplay" muted class="local_video object-contain w-full h-full pointer-events-auto">
                    <source src="@Model.BannerVideoWeb" type="video/webm">
                </video>
            }
            else
            {
                <img class="w-75" src="@Model.ComicFigure" alt="">
            }
        </div>
    </div>
    @if (@Model.ComicVideoWeb != string.Empty && @Model.ComicVideoWeb != null)
    {
        <div class="big_video">
            <video title="" preload="auto" muted class="local_video_bg object-contain pointer-events-auto   d-none">
                <source src="@Model.ComicVideoWeb" type="video/webm">

            </video>
        </div>
    }

    <div class="comics_name_bg">
        <div class="comics_box mx-auto">
            <a class="comics_name_click" href="#">
                <div class="comics_name">
                    <h1>@Model.ComicChineseName</h1>
                    <p><span>繪者</span> @Model.Painter</p>
                    <p><span>作者</span> @Model.Author</p>
                    <p><span>發行</span> @Model.Publisher</p>
                    <div class="comics_category">
                        <span><i class="fa-solid fa-bars-staggered"></i></span><p class="category d-flex align-items-center">@Model.MainTagName</p>
                        <span><i class="fa-regular fa-eye"></i></span><p class="whatch d-flex align-items-center"> @Model.ClickCount </p>
                        <span><i class="fa-regular fa-thumbs-up"></i></span><p class="good d-flex align-items-center"> @Model.ComicLikeCount </p>
                    </div>
                </div>
            </a>
            <div class="play_tidy_box">
                @if (@Model.ComicVideoWeb != string.Empty && @Model.ComicVideoWeb != null)
                {
                    <div class="play btn btn-light"><i class="fa-regular fa-circle-play"></i></div>
                }
            </div>
        </div>
    </div>

</banner>
<section class="main_comics_episode w-100 ">
    <div class="comics_episode ">
        <div class="row mx-auto">
            <div class="illustrate_box">
                <ul>
                    <li class="ep">話次</li>
                    <li class="illustrate">作品資訊</li>
                    <li class="messages">留言</li>
                </ul>
            </div>
            <div class="keep_reading_box">
                <a href="#">
                    <p class="keep_reading">@Model.ViewRecordEpTitle</p>
                </a>
            </div>
            <div class="ep_row col-12 col-lg-8 col-xl-8">
                <div class="card_box w-100 d-flex flex-wrap">
                    @foreach (var ep in Model.EpList)
                    {
                        <div class="col col-6 col-md-4 col-lg-3 col-xl-2">
                            <a id="login" href="javascript:(0)" onclick="clickEp(@ep.EpId)">
                                <div class="card w-100" style="width: 18rem;">
                                    <img src="@ep.EpCover" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@ep.EpTitle</h5>
                                        <p class="card-text">@ep.UploadTime</p>
                                    </div>
                                    @if (@ep.IsFree == true)
                                    {
                                        <span class="epIcon epIsFree">免費</span>
                                    }
                                    @if (@ep.IsCountdownCoupon == true)
                                    {
                                        <img class="epIcon epIsCD" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHJlY3QgZmlsbD0iIzY4NTNFNyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiByeD0iOCIvPgogICAgICAgIDxwYXRoIGQ9Ik04IDJhNiA2IDAgMSAxIDAgMTJBNiA2IDAgMCAxIDggMnptMCAxYTUgNSAwIDEgMCAwIDEwQTUgNSAwIDAgMCA4IDN6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz4KICAgICAgICA8cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik04LjUgNC42MDJ2My4xNTJsMi40MDUgMS44NS0uNjEuNzkyTDcuNSA4LjI0NlY0LjYwMnoiLz4KICAgIDwvZz4KPC9zdmc+Cg==" />
                                    }
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="comics_illustrate">
                    <p>@Model.Introduction</p>
                </div>
            </div>
        </div>
        <div class="message_box  justify-content-center flex-column">
            <div class="message_name mx-auto">留言</div>
            <div class="comment_text  mx-auto">
                <section class="Comment_area">
                    <div class="container Comment_container">
                        @foreach (var topComment in Model.Comments)
                        {
                            <div class="Comment_item">
                                <div class=" CommentShow">
                                    <div class="CommentShow_title">
                                        <span class="Leval">BEST</span>
                                        <p class="Name">@topComment.TopComment.CommentMemberName</p>
                                        <span class="date">@topComment.TopComment.CreateTime.ToShortDateString()</span>
                                    </div>
                                    <p class="CommentShow_content">@topComment.TopComment.Context</p>
                                </div>

                                <div class="CommentShow_btn_area">
                                    <div class="like">
                                        <button class="btn btn-outline-dark like_btn" type="button">
                                            <i class="fa-solid fa-thumbs-up "></i>
                                            讚
                                            <span class="like_count">@topComment.TopComment.CommentLikeCount</span>
                                        </button>
                                    </div>

                                    <div class="reply">
                                        <!-- 要加編號data-bs-target,aria-controls -->
                                    <button class="btn btn-outline-dark reply_btn" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#reply_collapse_@topComment.TopComment.CommentId" aria-expanded="false" aria-controls="reply_collapse1">
                                            <i class="fa-solid fa-reply-all"></i>
                                            回覆
                                            <span class="reply_count">@topComment.TopComment.ReplyToCommentCount</span>
                                        </button>
                                    </div>
                                    <div class="report">
                                        <button class="btn btn-outline-dark report_btn" type="button" data-bs-toggle="modal"
                                            data-bs-target="#reportModal" data-bs-whatever="report">
                                            <!-- 要加編號data-bs-target -->
                                        <i class="fa-solid fa-thumbs-down"></i>
                                            檢舉
                                            <span class="report_count">@topComment.TopComment.CommentReportCount</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            if (@topComment.ReplyToTopComment.Count != 0)
                            {
                                foreach (var comment in @topComment.ReplyToTopComment)
                                {
                                    <div class="collapse" id="reply_collapse_@comment.ReplyToCommentId">
                                        <div class="card-body  reply_CommentShow">
                                            <div class="reply_CommentShow_item">
                                                <div class="reply_CommentShow_title">
                                                    <i class="fa-thin fa-l"></i>
                                                    <p class="Name">@comment.CommentMemberName</p>
                                                    <span class="date">@comment.CreateTime.ToShortDateString()</span>
                                                </div>
                                                <p class="reply_Comment_content">
                                                    @comment.Context
                                                </p>
                                                <div class="reply_Comment_btn">
                                                    <div class="like">
                                                        <button class="btn btn-outline-dark like_btn" type="button">
                                                            <i class="fa-solid fa-thumbs-up "></i>
                                                            讚
                                                            <span class="like_count">@comment.CommentLikeCount</span>
                                                        </button>
                                                    </div>
                                                    <div class="report">
                                                        <button class="btn btn-outline-dark report_btn" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#reportModal" data-bs-whatever="report">
                                                            <!-- 要加編號data-bs-target -->
                                                <i class="fa-solid fa-thumbs-down"></i>
                                                            檢舉
                                                            <span class="report_count">@comment.CommentReportCount</span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>

                </section>

            </div>
        </div>

    </div>
</section>

<div class="mobile_title_box p-3 d-none">
    <h2 class="mo_ti fw-bolder">@Model.ComicChineseName</h2>
    <div class="ill_box">
        <div>
            <span>繪者</span>
            <p class="mo_word">@Model.Painter</p>
        </div>
        <div>
            <span>作者</span>
            <p class="mo_pic">@Model.Author</p>
        </div>
        <div>
            <span>發行</span>
            <p class="mo_publisher">@Model.Publisher</p>
        </div>
    </div>
    <div class="story_box mt-5">
        <h3>故事大綱</h3>
        <p>@Model.Introduction</p>
    </div>
    <div class="keywords_box mt-5">
        <h4 class="mb-3">關鍵字</h4>
        <div>
            @foreach (var tag in Model.TagNames)
            {
                <p>#@tag</p>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">分享</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="copy btn btn-dark" data-bs-dismiss="modal">複製網址</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    let isAuthenticated = "@Model.IsAuthenticated" === "True";

    let check = document.querySelector('#heart');
    let checkvalue = "@Model.IslikeComic.ToString().ToLower()";
</script>


@if (@Model.BannerVideoWeb != string.Empty && @Model.BannerVideoWeb != null)
{
    <script>
        const local_video = document.querySelector('.local_video');
                //點擊影片，影片開始播放。
        local_video.addEventListener('click', () => {
            local_video.play();
        })
    </script>
}

@if (@Model.ComicVideoWeb != string.Empty && @Model.ComicVideoWeb != null)
{
    <script>
        const local_video_bg = document.querySelector('.local_video_bg');
        const play = document.querySelector('.play');
            ////按下play鍵，開始撥放影片(ok)
            play.addEventListener('click', () => {
                local_video_bg.classList.remove('d-none');
                local_video_bg.play();
            })
            local_video_bg.addEventListener('ended', () => {
                local_video_bg.classList.add('d-none');
            })
    </script>
}

@section endJS{
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="~/js/Workspage.js"></script>

}


