@using BSWebtoon.Front.Models.ViewModel.GiftBox
@using BSWebtoon.Model
@model ActivityContentViewModel

@{
    Layout = "_WorkPageLayout";
    ViewData["Title"] = "ActivityContent";

    <style>
        :root {
            --activityBgColor: @Model.ActivityBgColor;
        }
    </style>

    var remainingTime = (Convert.ToDateTime(@Model.ActivityEndTime) - DateTime.UtcNow.AddHours(8)).ToString();

    var remainingDays = remainingTime.Split('.')[0];
    var remainingHours = remainingTime.Split('.')[1].Split(':')[0];

    //var nowTime = DateTime.UtcNow.AddHours(8);
    var ActivityId = @Model.ActivityId;
    var universalCouponGetCount = 1;
    var couponTypeId = (int)CouponType.universalCoupon;
    var memberId = User.Claims.FirstOrDefault() == null ? 0 : int.Parse(User.Claims.FirstOrDefault(x => x.Type == "MemberID").Value);
}
@section topCss{
<link rel="stylesheet" href="~/style/ActivityContentStyle.css" />
}

<header class="activity_nav w-100">
    <a class="previous_page_a activity_nav_a" href="javascript:history.go(-1)">
        <i class="fa-solid fa-arrow-left-long previous_page"></i>
    </a>
</header>
<div class="activity_main_content">
    <div class="row w-700 activity_pic">
        <img src="@Model.ActivityImage" alt="">
        <div class="row w-700 activity_title">
            <p class="countdownTime">剩餘 @remainingDays 日 @remainingHours 小時</p>
            <p class="activity_title_info">7/23-7/25</p>
            <p class="activity_title_info">@Model.ActivityName</p>
            <!-- <p>ⓒ作者/繪者/發行</p> -->
        </div>
    </div>
    <div class="row w-700 activity_text">
        <div class="row w-700">
            <p class="activity_text_title">活動詳情</p>
            <div class="activity_text_content">@Html.Raw(@Model.ActivityContent)</div>
        </div>
    </div>
    <div class="row w-700 activity_text">
        <div class="row w-700">
            @if (Model.IsGetUniversalCoupon)
            {
                <button disabled onclick='clickGetCouponBtn(@ActivityId,@universalCouponGetCount,@couponTypeId,@memberId)'
                    class="w-100 my-5 py-3 px-5 getUniversalCouponBtn bg-light">
                    領取通用券
                    <span>></span>
                </button>
            }
            else
            {

                <button onclick='clickGetCouponBtn(@ActivityId,@universalCouponGetCount,@couponTypeId,@memberId)'
                    class="w-100 my-5 py-3 px-5 getUniversalCouponBtn">
                    領取通用券
                    <span>></span>
                </button>
            }
        </div>
    </div>
</div>
<footer class="w-100 activity_details">
    <div class="row w-700 pt-5">
        <p class="activity_detail_title">活動期間</p>
        <p class="activity_detail_content">
            @Model.ActivityStartTime~@Model.ActivityEndTime
        </p>
        <p class="activity_detail_title">獎項發送說明</p>
        <p class="activity_detail_content activity_detail_content_border">
            領取完成將於一天內發送通用券，詳情請於「金幣/閱讀券明細」中確認。
        </p>
        <p class="activity_detail_title">注意事項</p>
        <ul class="activity_detail_content activity_detail_contentList">
            <li>本活動僅限註冊用戶參加</li>
            <li>本活動之獎品不得轉換、轉讓或折讓現金</li>
            <li>BS WEBTOON 保有活動細節修改之權利</li>
        </ul>
    </div>
</footer>

<script>
    let isAuthenticated = "@Model.IsAuthenticated" === "True";
</script>
<script src="~/js/Activity.js" asp-append-version="true"></script>
