@model BSWebtoon.Model.Models.Comic

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicChineseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicChineseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicEnglishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicEnglishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicNameImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicNameImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotComicNameImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotComicNameImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BgCover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BgCover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotBgCover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotBgCover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicFigure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicFigure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicWeekFigure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicWeekFigure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BgColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BgColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinallyPublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinallyPublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Painter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Painter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerVideoWeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerVideoWeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekVideoWrb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekVideoWrb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicVideoWeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicVideoWeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditFailReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditFailReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditEmployee.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComicId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
