@model BSWebtoon.Front.Models.ViewModel.Search.SearchViewModel

@section topCss{
<link rel="stylesheet" href="~/style/Searchstyle.css" />
}

<div class="Rank">
    @if (Model.SearchList.Count() == 0)
    {
        <div class="container Rank_content text-center">
            <h3 class="text-white">查無此漫畫或是標籤名稱!!</h3>
        </div>
    }
    else
    {
        <div class="container Rank_content">
            <div class="content">
                @foreach (var item in Model.SearchList)
                {
                    <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                        <div class="work_bg">
                            <img src="@item.BgCover" alt="@item.ComicName">
                        </div>
                        <img class="work_pic" src="@item.ComicWeekFigure">
                        <div class="title_img">
                            <img src="@item.ComicNameImage" alt="@item.ComicName">
                        </div>
                        <div class="work_status">
                            <span>UP</span>
                        </div>
                    </a>
                }
            </div>
        </div>

    }




</div>

@section endJS{
<script src="https://kit.fontawesome.com/2dbc4e25d3.js" crossorigin="anonymous"></script>
@*<script src="~/js/Search.js"></script>*@
}