@model BSWebtoon.Front.Models.ViewModel.Search.SearchViewModel

@section topCss{
<link rel="stylesheet" href="~/style/Searchstyle.css" />
}
@*<div>
    <h4>Comic</h4>
    <hr />
    @foreach (var item in Model)
    {
    <dl class="row">
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicChineseName)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicChineseName)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicEnglishName)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicEnglishName)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicNameImage)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicNameImage)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.HotComicNameImage)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.HotComicNameImage)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.BgCover)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.BgCover)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.HotBgCover)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.HotBgCover)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicFigure)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicFigure)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicWeekFigure)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicWeekFigure)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.BgColor)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.BgColor)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.PublishDate)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.PublishDate)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.LastPublishDate)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.LastPublishDate)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.FinallyPublishDate)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.FinallyPublishDate)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.UpdateWeek)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.UpdateWeek)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.Publisher)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.Publisher)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.Painter)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.Painter)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.Author)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.Author)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.Introduction)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.Introduction)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.BannerVideoWeb)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.BannerVideoWeb)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.WeekVideoWrb)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.WeekVideoWrb)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicVideoWeb)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicVideoWeb)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.HotVideo)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.HotVideo)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AuditType)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.AuditType)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.AuditFailReason)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.AuditFailReason)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.AuditTime)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.AuditTime)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.ComicStatus)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.ComicStatus)
    </dd>
    <dt class="col-sm-2">
    @Html.DisplayNameFor(model => item.AuditEmployee)
    </dt>
    <dd class="col-sm-10">
    @Html.DisplayFor(model => item.AuditEmployee.Account)
    </dd>
    </dl>

    }
    </div>*@
<div class="Rank">
    <div class="container Rank_content">
        @if (Model.SearchList.Count() == 0)
        {
            <h3 class="text-white">查無此漫畫或是標籤名稱!!</h3>
        }
        else
        {
            <div class="content">
            @foreach (var item in Model.SearchList)
            {
                    <a class="work" href="#">
                        <div class="work_bg">
                            <img src="@item.BgCover" alt="@item.ComicName">
                        </div>
                        <img class="work_pic" src="@item.ComicWeekFigure">
                        <div class="title_img">
                            <img src="@item.ComicNameImage" alt="@item.ComicName">
                        </div>
                        <div class="work_status">
                            <span>UP</span>
                        </div>
                    </a>
            }
            </div>

        }


    </div>
</div>

@section endJS{
<script src="https://kit.fontawesome.com/2dbc4e25d3.js" crossorigin="anonymous"></script>
@*<script src="~/js/Search.js"></script>*@
}