@using BSWebtoon.Front.Models.ViewModel.Recommend
@model List<RecommendViewModel>

@{
    ViewData["Title"] = "Recommend";
}

@section topCss{
<link rel="stylesheet" href="~/style/Recommend.css" />
}
<ul class="nav justify-content-center nav-top">
    <li class="nav-item">
        @*<a class="nav-link nav_recommend" href="#">推薦</a>*@
        @Html.ActionLink("推薦", "Recommend", "Recommend", new {},new {@class="nav-link nav_recommend nav-selected text-black"})
    </li>
    <li class="nav-item">
        @*<a class="nav-link nav_hot" href="#">強檔巨獻</a>*@
        @Html.ActionLink("強檔鉅獻", "HitWork", "Recommend", new {},new {@class="nav-link nav_hot"})
    </li>
</ul>

<div class="container-fluid main-context">
    <div class="container w-1200">
        @foreach (var item in Model)
        {
            <a class="work_a" href="WorksPage/WorksPage/@item.ComicId" >
                <div class="row row-recommend w-1200">
                    <div class="txt-part">
                        <span id="tag">@item.RecommendTag</span>
                        @if (@item.NameImage != null)
                        {
                            <img src="@item.NameImage" class="title-pic" alt="@item.Name">
                        }
                        else
                        {
                            <h2 class="activity_name">@item.Name</h2>
                        }
                        <div class="txt-part-introduction">
                            @Html.Raw(@item.Introduction)
                        </div>
                    </div>
                    <div class="transform-part transform-part-public">
                    </div>
                    <div class="transform-part2 transform-part-public">
                    </div>
                    <div class="pic-part" style="background-color:@item.ActivityBgColor;">
                        <img src="@item.ComicBgCover" class="recommend-pic-bg" @*alt="@item.Name"*@>
                        @switch (@item.BannerVideoWeb != string.Empty && @item.BannerVideoWeb != null)
                        {
                            case true:
                                <video src="@item.BannerVideoWeb" class="recommend-pic" autoplay loop></video>
                                break;
                            case false:
                                switch (@item.ComicFigure != null)
                                {
                                    case true:
                                        <img src="@item.ComicFigure" class="recommend-pic">
                                        break;
                                    case false:
                                        <img src="@item.ActivityImage" class="recommend-pic">
                                        break;
                                }
                                break;
                            default:
                                break;
                        }
                    </div>
                </div>
            </a>
        }
    </div>
</div>

@section endJS{
<script src="~/js/Recommend.js"></script>
}
