@model BSWebtoon.Front.Models.ViewModels.Rank.RankViewModel_ClickRecord


@section topCss{
<link rel="stylesheet" href="~/style/RankListstyle.css" />
}

<navbar class="navbar navbar-expand-lg ">
    <div class="rankListNav">
        @*<div class="collapse navbar-collapse" id="navbarSupportedContent">*@
            <ul class="nav flex-nowrap text_overflow ">
                <li class="btn nav-item all">
                    <a class="nav-link"  >
                        全部
                    </a>
                </li>
                <li class="btn nav-item fantasy">
                    <button class="nav-link">
                        奇幻
                    </button>
                </li>
                <li class="btn nav-item fantasy_love">
                    <button class="nav-link">
                        奇幻愛情
                    </button>
                </li>
                <li class="btn nav-item action_adventure">
                    <button class="nav-link">
                        動作冒險
                    </button>
                </li>

                <li class="btn nav-item love">
                    <button class="nav-link">
                        愛情
                    </button>
                </li>

                <li class="btn nav-item plot">
                    <button class="nav-link">
                        劇情
                    </button>
                </li>

                <li class="btn nav-item BL_GL">
                    <button class="nav-link">
                        BL/GL
                    </button>
                </li>

                <li class="btn nav-item Suspenseful_horror">
                    <button class="nav-link">
                        懸疑恐怖
                    </button>
                </li>
            </ul>
        @*</div>*@
    </div>
</navbar>

<div class="container p-0 output ">
    <div class="box">
        <a href="#" class="number-one">
            <div class="rank_pic">
                <img src="@Model.FirstRank.BgCover" alt="背景" class="rank_pic_bg">
                @if (@Model.FirstRank.BannerVideoWeb != string.Empty)
                {
                    <video>
                        <source src="@Model.FirstRank.BannerVideoWeb" type="video/webm" class="rank_pic_people">
                    </video>
                }
                else
                {
                    <img src="@Model.FirstRank.ComicFigure" alt="@Model.FirstRank.ComicName" class="rank_pic_people">
                }
            </div>
            <div class="rank_text">
                <span class="tag">新作</span>
                <img src="@Model.FirstRank.ComicNameImage"
                     alt="標題" class="rank_pic_title">
                <p>@Model.FirstRank.Introduction</p>
                <div class="rank_bgdiv">
                    <span class="rank rank_num">1</span>
                    <span class="rank rank_icon">@Model.FirstRank.Diff</span>
                </div>
            </div>
        </a>
        @foreach (var item in Model.OtherRank)
        {
            <a href="#" class="numbers">
                <div class="rank_pic">
                    @*<img src="https://tw-a.kakaopagecdn.com/P/C/270/bg/1x/e6f07925-f715-4ec6-a2ad-c50b2b86d0a9.jpg"
                        alt="背景" class="rank_pic_bg">*@

                    <img src="@item.BgCover" alt="背景" class="rank_pic_bg">
                    <img src="@item.ComicWeekFigure" alt="@item.ComicName" class="rank_pic_people">
                </div>

                <div class="rank_text">
                    <div class="rank_bgdiv">
                        @* @for (var i = 10; i < 21; i++)
                            {

                            <span class="rank rank_num">@i</span>
                            }*@
                        <span class="rank rank_num">@item.ClickRecordId</span>
                        <span class="rank rank_icon">@item.Diff</span>
                    </div>
                    <div class="box-title">
                        <img src="@item.ComicNameImage"  alt="標題" class="rank_pic_title">
                        <span class="tag">新作</span>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<template id="bestseller">
    <div class="box">
        <a href="#" class="number-one">
            <div class="rank_pic">
                <img src="@Model.FirstRank.BgCover" alt="背景" class="rank_pic_bg">
                @if (@Model.FirstRank.BannerVideoWeb != string.Empty)
                {
                    <video>
                        <source src="@Model.FirstRank.BannerVideoWeb" type="video/webm" class="rank_pic_people">
                    </video>
                }
                else
                {
                    <img src="@Model.FirstRank.ComicFigure" alt="@Model.FirstRank.ComicName" class="rank_pic_people">
                }
            </div>
            <div class="rank_text">
                <span class="tag">新作</span>
                <img src="@Model.FirstRank.ComicNameImage"
                     alt="標題" class="rank_pic_title">
                <p>@Model.FirstRank.Introduction</p>
                <div class="rank_bgdiv">
                    <span class="rank rank_num">1</span>
                    <span class="rank rank_icon">@Model.FirstRank.Diff</span>
                </div>
            </div>
        </a>
    </div>
    @foreach (var item in Model.OtherRank)
    {
        <a href="#" class="numbers">
            <div class="rank_pic">
                @*<img src="https://tw-a.kakaopagecdn.com/P/C/270/bg/1x/e6f07925-f715-4ec6-a2ad-c50b2b86d0a9.jpg"
                    alt="背景" class="rank_pic_bg">*@

                <img src="@item.BgCover" alt="背景" class="rank_pic_bg">
                <img src="@item.ComicWeekFigure"
                 alt="@item.ComicName" class="rank_pic_people">
            </div>

            <div class="rank_text">
                <div class="rank_bgdiv">
                    @* @for (var i = 10; i < 21; i++)
                        {

                        <span class="rank rank_num">@i</span>
                        }*@
                    <span class="rank rank_num">@item.ClickRecordId</span>
                    <span class="rank rank_icon">@item.Diff</span>
                </div>
                <div class="box-title">
                    <img src="@item.ComicNameImage"
                     alt="標題" class="rank_pic_title">
                    <span class="tag">新作</span>
                </div>
            </div>
        </a>
    }
</template>

@section endJS{
<script src="~/js/RankList.js"></script>
}


