@model IEnumerable<BSWebtoon.Front.ViewModels.FavoriteViewModel>

@{
    ViewData["Title"] = "AddReadFavoriteList";
}

<h1>AddReadFavoriteList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComicFigure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComicNameImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BgColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ComicFigure"/>
               @* @Html.DisplayFor(modelItem => item.ComicFigure)*@
            </td>
            <td>
                <img src="@item.ComicNameImage"/>

                @Html.DisplayFor(modelItem => item.ComicNameImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BgColor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
