@using BSWebtoon.Front.Models.ViewModel.Account
@model AccountInfoViewModel

@{
    Layout = "_WorkPageLayout";
    //Layout = "NoNav_Layout";
    ViewData["Title"] = "AccountInfo";

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/style/AccountStyle.css" />

}
<header class="userinfo_nav w-100 justify-content-between">
    @*<a class="previous_page_a userinfo_nav_a " href="javascript:history.go(-1)">*@
    <a class="previous_page_a userinfo_nav_a " href="/Recommend/Recommend">
        <i class="fa-solid fa-arrow-left-long previous_page"></i>
    </a>
</header>



<div class="col-12 userinfo w-1200 pt-5">
    <h1>帳戶資訊</h1>
    <div class="user d-flex mb-2">
        <div class="userid ms-2 ">
            <p class="fs-3 mb-0">@Model.MemberName</p>
        </div>
    </div>
    <div class="usermoney d-flex flex-column flex-md-row mb-4">
        <div class="money d-flex">
            <i class="fa-solid fa-sack-dollar text-center mx-2 text-warning "></i>
            <p class="d-flex my-auto ">
                金幣 : <span class="ms-2">@Model.CoinQuantity</span>
                <a class="rechargeLink" href="/Recharge/CashPlanView">立即儲值</a>
            </p>
        </div>
        <div class="ticket d-flex">
            <i class="fa-solid fa-ticket text-center mx-2 text-primary"></i>
            <p class="ticket_p">閱讀券 : <span class="ms-2">@Model.ReadCouponQuantity</span> </p>
        </div>
        <div class="ticket d-flex">
            <i class="fa-solid fa-ticket text-center mx-2 text-success"></i>
            <p class="ticket_p">通用券 : <span class="ms-2">@Model.UniversalCouponQuantity</span></p>
        </div>
    </div>
    <div class="record my-3">
        <ul class="d-flex px-0 m-0">
            <li onclick="GetCouponDetails(@Model.MemberId)" class="recordItem selectedRecordItem"><button class="recordItem_a couponRecord">券獲得/使用紀錄</button></li>
            <li onclick="GetCoinDetails(@Model.MemberId)" class="recordItem"><button class="recordItem_a coinRecord">金幣消費/儲值紀錄</button></li>
        </ul>
    </div>

    <div class="detail text-center">
        <div class="nothing">
            <p class="nothing_text">未選取紀錄 > △ <</p>
        </div>
        <table id="tableCoupon"
               data-toolbar=".toolbar"
               data-show-columns="true"
               data-search="true"
               data-show-toggle="true"
               data-pagination="true"
               data-reorderable-columns="true">
            <thead>
                <tr>
                    <th data-field="BuyOrUse" data-sortable="true">獲得/使用</th>
                    <th data-field="CouponType" data-sortable="true">券種</th>
                    <th data-field="BuyOrUseCount" data-sortable="true">獲得/使用數量</th>
                    <th data-field="CreateTime" data-sortable="true">時間</th>
                    <th data-field="ComicName" data-sortable="true">漫畫名稱</th>
                    <th data-field="ActivityName" data-sortable="true">活動名稱</th>
                </tr>
            </thead>
        </table>
        <table id="tableCoin"
               data-toolbar=".toolbar"
               data-show-columns="true"
               data-search="true"
               data-show-toggle="true"
               data-pagination="true"
               data-reorderable-columns="true">
            <thead>
                <tr>
                    <th data-field="ConsumptionOrRecharge" data-sortable="true">儲值/消費</th>
                    <th data-field="CoinContent" data-sortable="true">金幣金額</th>
                    <th data-field="CreateTime" data-sortable="true">時間</th>
                    <th data-field="ComicName" data-sortable="true">漫畫名稱</th>
                </tr>
            </thead>
        </table>
        <table id="tableOld" class="table table-light table-striped caption-top">
        </table>
    </div>
    <nav class="" aria-label="Page navigation example">
        <ul class="pagination recordTableNav justify-content-end pagesContent">
        </ul>
    </nav>
</div>

<template id="tableTemplate"></template>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>

<script>
    let member = @Model.MemberId
</script>
<script src="~/js/AccountInfo.js" asp-append-version="true"></script>

