@using BSWebtoon.Front.Models.ViewModel.Account
@model AccountInfoViewModel

@{
    Layout = "_WorkPageLayout";
    ViewData["Title"] = "AccountInfo";
    <link rel="stylesheet" href="~/style/AccountStyle.css" />
}
<header class="userinfo_nav w-100">
    <a class="previous_page_a userinfo_nav_a" href="javascript:history.go(-1)">
        <i class="fa-solid fa-arrow-left-long previous_page"></i>
    </a>
</header>

<div class="col-12 userinfo w-1200 pt-5">
    <h1>帳戶資訊</h1>
    <div class="user d-flex mb-2">
        <div class="userid ms-2 ">
            <p class="fs-3 mb-0">@Model.MemberName</p>
        </div>
    </div>
    <div class="usermoney d-flex flex-column flex-md-row mb-4">
        <div class="money d-flex">
            <i class="fa-solid fa-sack-dollar text-center mx-2 text-warning "></i>
            <p class="d-flex my-auto ">
                金幣 : <span class="ms-2">@Model.CoinQuantity</span>
                <a class="rechargeLink" href="/Recharge/CashPlanView">立即儲值</a>
            </p>
        </div>
        <div class="ticket d-flex">
            <i class="fa-solid fa-ticket text-center mx-2 text-primary"></i>
            <p class="ticket_p">閱讀券 : <span class="ms-2">@Model.ReadCouponQuantity</span> </p>
        </div>
        <div class="ticket d-flex">
            <i class="fa-solid fa-ticket text-center mx-2 text-success"></i>
            <p class="ticket_p">通用券 : <span class="ms-2">@Model.UniversalCouponQuantity</span></p>
        </div>
    </div>
    <div class="record my-3">
        <ul class="d-flex px-0 m-0">
            <li onclick="GetCouponDetails(@Model.MemberId)" class="recordItem"><button class="recordItem_a couponRecord">券獲得/使用紀錄</button></li>
            <li onclick="GetCoinDetails(@Model.MemberId)" class="recordItem"><button class="recordItem_a coinRecord">金幣消費/儲值紀錄</button></li>
        </ul>
    </div>
    <div class="detail text-center">
        <div class="nothing">
            <p class="nothing_text">未選取紀錄 > △ <</p>
        </div>
        <table id="tableContent" class="table table-striped recordTable caption-top">
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination recordTableNav justify-content-end d-none">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<template id="tableTemplate">

</template>



<script src="~/js/AccountInfo.js" asp-append-version="true"></script>
<script>
let member = @Model.MemberId
</script>