@{
    ViewData["Title"] = "FinishComic";
}
@section topCss{
<link rel="stylesheet" href="~/style/WeeklyFinishComicStyle.css" />
}

    <nav id="navbar-id" class="navbar navbar-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link nav_new_work" href="#">新作</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">一</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#scrollspyHeading2">二</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">三</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">四</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading5">五</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading6">六</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading7">日</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_finish_work" href="#">完結</a>
            </li>
        </ul>
    </nav>

    <div class="FinishComic">
        <div class="container FinishComic_content">
            <div class="content">

            <div class="work_big">
                <div class="work_big_bg">
                    <img src="@Model.FinishComicBig.BgCover"alt="">
                </div>
                <div class="comic_material">
                    <div class="work_big_title">
                        <img src="@Model.FinishComicBig.ComicNameImage"alt="">
                    </div>
                    <div class="introduction">@Model.FinishComicBig.Introduction</div>
                </div>

                <div class="work_big_pic">
                    <img src="@Model.FinishComicBig.ComicFigure">
                </div>
                <p class="author">@Model.FinishComicBig.Author, @Model.FinishComicBig.Painter</p>

            </div>


            @foreach (var item in Model.FinishComicList)
            {


                <div class="work">
                    <div class="work_bg">
                        <img src="@item.BgCover"alt="">
                    </div>
                    <img class="work_pic"
                     src="@item.ComicWeekFigure">

                    <div class="title_img">
                        <img src="@item.ComicNameImage"alt="">
                    </div>


                </div>

            }



            <div class="black">
                <div class="black">
                    <div class="row">

                        <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                            <div class="img-box"></div>
                        </div>

                        <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                            <div class="img-box"></div>
                        </div>

                        <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                            <div class="img-box"></div>
                        </div>

                        <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                            <div class="img-box"></div>
                        </div>

                        <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                            <div class="img-box"></div>
                        </div>

                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>

@section endJS{
<script src="~/js/WeekFinishComic.js"></script>
}