@{
    ViewData["Title"] = "WeekUpdate";
}
@{
    var t = DateTime.Now.DayOfWeek ; 
}

@section topCss{
<link rel="stylesheet" href="~/style/WeeklyUpdateStyle.css" />
}

<body data-bs-spy="scroll" data-bs-target="#navbar-id" data-bs-offset="140" class="scrollspy-example"tabindex="0">


    <nav id="navbar-id" class="navbar navbar-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link nav_new_work" href="/WeekUpdate/NewComic">新作</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Monday" href="#scrollspyHeading1">一</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Tuesday" href="#scrollspyHeading2">二</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Wednesday" href="#scrollspyHeading3">三</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Thursday" href="#scrollspyHeading4">四</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Friday" href="#scrollspyHeading5">五</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Saturday" href="#scrollspyHeading6">六</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Sunday" href="#scrollspyHeading7">日</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/WeekUpdate/FinishComic">完結</a>
            </li>
        </ul>
    </nav>

    <div class="weekly ">
        <div class="container week_content ">
            <div class="Monday">
                <h2 id="scrollspyHeading1" class="Monday_title">星期一</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 1)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop=@*"true"*@ autoplay=@*"true"*@ muted=@*"true"*@ class="workV-long ">
                                        <source class="source"
                                    src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover" alt="">
                                    </div>
                                    <img class="work_pic" src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage" alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Monday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>

                            };


                        }


                    }

                    <template id="blackTemplate">
                        <div class="black">
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="Tuesday">
                <h2 id="scrollspyHeading2" class="Tuesday_title">星期二</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 2)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop=@*"true"*@ autoplay=@*"true"*@ muted=@*"true"*@ class="workV-long ">
                                        <source class="source"
                                    src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Tuesday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Wednesday">
                <h2 id="scrollspyHeading3" class="Wednesday_title">星期三</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 3)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop=@*"true"*@ autoplay=@*"true"*@ muted=@*"true"*@ class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage" alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Wednesday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>

                            };

                        }
                    }

                </div>
            </div>
            <div class="Thursday">
                <h2 id="scrollspyHeading4" class="Thursday_title">星期四</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 4)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop=@*"true"*@ autoplay=@*"true"*@ muted=@*"true"*@ class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>


                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Thursday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Friday">
                <h2 id="scrollspyHeading5" class="Friday_title">星期五</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 5)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop=@*"true"*@ autoplay=@*"true"*@ muted=@*"true"*@ class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Friday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Saturday">
                <h2 id="scrollspyHeading6" class="Saturday_title">星期六</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 6)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop=@*"true"*@ autoplay=@*"true"*@ muted=@*"true"*@ class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Saturday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Sunday">
                <h2 id="scrollspyHeading7" class="Sunday_title">星期日</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 7)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="#">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop@*=@*"true"*@*@ autoplay@*=@*"true"*@*@ muted@*=@*"true"*@*@ class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="#">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Sunday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>

                            };
                        }
                    }

                </div>
            </div>

        </div>
    </div>




</body>

@section endJS{
<script src="~/js/WeekUpdate.js"></script>

}

