@section topCss{
<link rel="stylesheet" href="~/style/weeklyUpdataStyle.css" />
}

<body data-bs-spy="scroll" data-bs-target="#navbar-id" data-bs-offset="140" class="scrollspy-example"tabindex="0">


    <nav id="navbar-id" class="navbar navbar-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link nav_new_work" href="#">新作</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">一</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#scrollspyHeading2">二</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">三</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">四</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading5">五</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading6">六</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading7">日</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">完結</a>
            </li>
        </ul>
    </nav>

    <div class="weekly ">
        <div class="container week_content ">



            <div class="Monday">
                <h2 id="scrollspyHeading1" class="Monday_title">星期一</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 1)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"
                                    src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                </div>

                            };


                        }


                    }

                    <template id="blackTemplate">
                        <div class="black">
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                        </div>
                    </template>
                </div>

            </div>
            <div class="Tuesday">
                <h2 id="scrollspyHeading2" class="Tuesday_title">星期二</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 2)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"
                                    src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                </div>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Wednesday">
                <h2 id="scrollspyHeading3" class="Wednesday_title">星期三</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 3)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage" alt="">
                                    </div>
                                </div>

                            };

                        }
                    }

                </div>
            </div>
            <div class="Thursday">
                <h2 id="scrollspyHeading4" class="Thursday_title">星期四</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 4)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                </div>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Friday">
                <h2 id="scrollspyHeading5" class="Friday_title">星期五</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 5)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                </div>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Saturday">
                <h2 id="scrollspyHeading6" class="Saturday_title">星期六</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 6)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                </div>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Sunday">
                <h2 id="scrollspyHeading7" class="Sunday_title">星期日</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == 7)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <div class="work_long">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop="true" autoplay="true" muted="true" class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </div>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <div class="work">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                </div>

                            };
                        }
                    }

                </div>
            </div>

        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>

    <script>
        let mon = document.querySelector(".Monday .content")
        let teus = document.querySelector(".Tuesday .content")
        let wednes = document.querySelector(".Wednesday .content")
        let thurs = document.querySelector(".Thursday .content")
        let fri = document.querySelector(".Friday .content")
        let satur = document.querySelector(".Saturday .content")
        let sun = document.querySelector(".Sunday .content")
        let blackTemplate = document.getElementById("blackTemplate")





        window.onload = () => {


            mon.append(createBlack())

            teus.append(createBlack())
            wednes.append(createBlack())
            thurs.append(createBlack())
            fri.append(createBlack())
            satur.append(createBlack())
            sun.append(createBlack())


            let teus_long = document.querySelector(".Tuesday .work_long");
            teus_long.setAttribute("style", "grid-column: 3/4;")

            let wednes_long = document.querySelector(".Wednesday .work_long");
            wednes_long.setAttribute("style", "grid-column: 2/3;")

            let fri_long = document.querySelector(".Friday .work_long");
            fri_long.setAttribute("style", "grid-column: 3/4;")

            let satur_long = document.querySelector(".Saturday .work_long");
            satur_long.setAttribute("style", "grid-column: 2/3;")

        }



        function createBlack() {
            let cloneblack = blackTemplate.content.cloneNode(true);
            return cloneblack
        }

    </script>


</body>

