@*@using BSWebtoon.Front.ViewModel
@model IEnumerable<WeekUpdateViewModel>

@{
    ViewData["Title"] = "WeekUpdateList";
}

<h1>WeekUpdateList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComicNameImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BgCover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComicFigure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComicStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComicNameImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BgCover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComicFigure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComicStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateWeek)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@