@using BSWebtoon.Model
@{
    ViewData["Title"] = "WeekUpdate";
}
@{
    var t = DateTime.Now.DayOfWeek ; 
}

@section topCss{
<link rel="stylesheet" href="~/style/WeeklyUpdateStyle.css" />
@*<link rel="stylesheet" href="~/style/WeeklyNewComicStyle.css" />
*@
}

<body data-bs-spy="scroll" data-bs-target="#navbar-id" data-bs-offset="140" class="scrollspy-example" tabindex="0">


    <nav id="navbar-id" class="navbar navbar-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link nav_new_work" href="/WeekUpdate/NewComic">新作</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link nav_Monday" href="#scrollspyMonday">一</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link nav_Tuesday" href="#scrollspyTuesday">二</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Wednesday" href="#scrollspyWednesday">三</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_Thursday" href="#scrollspyThursday">四</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link nav_Friday" href="#scrollspyFriday">五</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link nav_Saturday" href="#scrollspySaturday">六</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link nav_Sunday" href="#scrollspySunday">日</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/WeekUpdate/FinishComic">完結</a>
            </li>
        </ul>
    </nav>

    <div class="weekly ">
        <div class="container week_content ">
            <div class="Monday">
                <h2 id="scrollspyMonday" class="Monday_title">星期一</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Monday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop  autoplay  muted  class="workV-long ">
                                        <source class="source"
                                    src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover" alt="">
                                    </div>
                                    <img class="work_pic" src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage" alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Monday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>

                            };


                        }


                    }

                    <template id="blackTemplate">
                        <div class="black">
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                            <div class="comics_nont col-4 col-md-3 col-lg-2_5">
                                <div class="img-box"></div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="Tuesday">
                <h2 id="scrollspyTuesday" class="Tuesday_title">星期二</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Tuesday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop  autoplay  muted  class="workV-long ">
                                        <source class="source"
                                    src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Tuesday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Wednesday">
                <h2 id="scrollspyWednesday" class="Wednesday_title">星期三</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Wednesday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop  autoplay  muted  class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage" alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Wednesday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>

                            };

                        }
                    }

                </div>
            </div>
            <div class="Thursday">
                <h2 id="scrollspyThursday" class="Thursday_title">星期四</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Thursday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop autoplay muted class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>


                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Thursday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Friday">
                <h2 id="scrollspyFriday" class="Friday_title">星期五</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Friday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop autoplay muted class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Friday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Saturday">
                <h2 id="scrollspySaturday" class="Saturday_title">星期六</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Saturday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop autoplay muted class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Saturday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>
                            };
                        }
                    }

                </div>
            </div>
            <div class="Sunday">
                <h2 id="scrollspySunday" class="Sunday_title">星期日</h2>
                <div class="content">
                    @foreach (var items in Model)
                    {
                        if (items.WeekDay == (int)Week.Sunday)
                        {
                            foreach (var item in items.WeekComicLongList)
                            {
                                <a class="work_long" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_long_bg">
                                        <img src="@item.BgCover">
                                    </div>
                                    <video loop autoplay muted class="workV-long ">
                                        <source class="source"src="@item.WeekVideoWrb">
                                    </video>
                                    <div class="title_long_img">
                                        <img src="@item.ComicNameImage">
                                    </div>

                                </a>

                            };

                            foreach (var item in items.WeekComicList)
                            {
                                <a class="work" href="/WorksPage/WorksPage/@item.ComicId">
                                    <div class="work_bg">
                                        <img src="@item.BgCover"alt="">
                                    </div>
                                    <img class="work_pic"src="@item.ComicWeekFigure">

                                    <div class="title_img">
                                        <img src="@item.ComicNameImage"alt="">
                                    </div>
                                    @if(item.ComicStatus == 3 && t == DayOfWeek.Sunday){
                                    <div class="work_status">
                                        <span>UP</span>
                                    </div>

                                    }
                                </a>

                            };
                        }
                    }

                </div>
            </div>

        </div>
    </div>







@*            <template id="newComicTemplate">
                <a class="workContent" href="#">

                    <div class="pic_bgc">
                        <img src="">
                    </div>
                    <div class="comic_information">

                        <div class="material">
                            <div class="date">
                                <p></p>
                            </div>
                            <div class="title_pic">
                                <img src="" alt="">
                            </div>
                            <div class="comic_introduce">
                                <p></p>
                            </div>
                            <p class="author"></p>
                        </div>

                        <div class="p_pic">
                            <img src="" alt="">
                        </div>
                    </div>
                </a>
            </template>
*@









</body>

@section endJS{
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>


<script src="~/js/WeekUpdate.js"></script>

@*<script src="~/js/WeekNewComic.js"></script>
*@
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>




@*<script>


        let nav_new_work = document.querySelector(".nav_new_work")
        let week_content = document.querySelector(".week_content")
        let newComicTemplate = document.getElementById("newComicTemplate")
        let body = document.querySelector("body")

            nav_new_work.addEventListener("click",()=>{
                body.setAttribute("data-bs-spy","");
                week_content.innerHTML="";
                fetch("/api/WeekUpdateApi/GetNewComicAll")
                .then(res =>{  return res.json()})
                .then(result => {

                    console.log(result)
                    console.log(result.length)

                        for (let i=0;i<result.length;i++){
                            week_content.append(createNewComic(result[i]))

                            

                    }})
            });
            mon.addEventListener("click",()=>{
                body.setAttribute("data-bs-spy","scroll");

            })

            function createNewComic(result) {
             console.log(result)

            let cloneNewComic = newComicTemplate.content.cloneNode(true);
            cloneNewComic.querySelector(".pic_bgc img").src = result.BgCover;
            cloneNewComic.querySelector(".material .date p").innerText = result.PublishDate;
            cloneNewComic.querySelector(".material .title_pic img").src =result.ComicNameImage;
            cloneNewComic.querySelector(".material .comic_introduce p").innerText =  result.Introduction;
            cloneNewComic.querySelector(".material .author").innerText =  result.Painter;
            cloneNewComic.querySelector(".p_pic img").src =  result.ComicFigure;
            return cloneNewComic
        }

        



</script>
*@
}